# Data Science
pandas
numpy
scikit-learn

# Map & visualization
folium
streamlit-folium
matplotlib
plotly

# Routing & Geospatial
geopy
requests
polyline

# Dashboard & UI
streamlit
streamlit-option-menu

# PDF generation
fpdf2
